body{
  background-color: #F2F2F2;
}

h1{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: bold;
}

/*SEA*/
.table{
  border: 1px solid black;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.massInfo{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.events{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.announcementsSEA{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

/**/
.left-align{
  position: absolute;
  left: 5px;
}

.container-fluid{
  margin-top: 20px;
  position: absolute;
  background-color:#A2C7E5;
  padding: 40px;
}

.navbar-brand{
  position: absolute;
  left: 80px;
}

.offcanvas{
  background-color: #C4DCFF;
}

.dropdown{
  width: 50%;
}

.announcement-bttn{
  text-align:right;
  
}

.bi{
  margin: 10px;
}

.nav-item{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.Schedtogs{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

/*Church Info*/
.editchurch{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.announcementsCH{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.info1{
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.info2{
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}