
body .sidebar {
  position: fixed; 
  height: 100vh; 
  width: 150px;
  background: #1D8BDA;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 100;
  display: flexbox;
  
}

.sidebar {
  display: flex;
  justify-content: center; /* Centers horizontally */
}

body .second-sidebar {
  display: flexbox;
  justify-content: center;
}

.second-sidebar {
  position: fixed;
  width: 100px; /* Set the final width */
  height: 100vh;
  background-color: #6DBDFF;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-left: 9.4rem;
  opacity: 0; /* Initially transparent */
  transition: 0.5s ease, opacity 0.5s ease;
}

.second-sidebar.open {
  opacity: 1; /* Make it visible */
}

.sidebar-content {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content vertically */
  gap: .8rem;
}

.coord-active {
  background-color: #0068A2;
  width: 150px;
  height: 80px;
  padding: 1rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.coord-active:hover {
  background-color: #0068A2; /* Ensure color stays the same */
  width: 150px; /* Keep width consistent */
  height: 80px; /* Keep height consistent */
  transition: background-color 0.5s ease; /* Only transition background color */
  cursor: pointer;
}

.logo {
  position: fixed; 
  margin-top: .8rem;
}

.appointments, .payment-history, .mass-schedule, .volunteer-call, .services-offered, .church-info, .priest-list{
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content vertically */
  gap: .1rem; /* Adds 50px gap between items */
}

.appointments:hover, .payment-history:hover, .mass-schedule:hover, .volunteer-call:hover, .services-offered:hover, .church-info:hover, .priest-list:hover {
  transition:  0.5s ease;
  cursor: pointer;
  background-color: #0068A2;
  width: 150px;
  height: 80px;
}

.second-sidebar-appointments-content, .second-sidebar-mass-schedule-content, .second-sidebar-services-offered-content, .second-sidebar-church-info-content {
  margin-top: 3.53rem;
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content vertically */
}

.second-sidebar-mass-schedule-content {
  margin-top: 13.56rem;
}

.second-sidebar-services-offered-content {
  margin-top: 18.6rem;
}

.second-sidebar-church-info-content {
  margin-top: 23.6rem;
}

.numbers {
  display: flex;
  width: 100px;
  width: 100px;
  height: 80px;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content vertically */
  gap: .1rem; /* Adds 50px gap between items */
}

.numbers:hover {
  background-color: #0068A2;
  width: 100px;
  height: 80px;
  transition: 0.5s ease;
  cursor: pointer;
}

.numbers.active {
  background-color: #0068A2;
  width: 100px;
  height: 80px;
}

.button-name {
  margin-top: 10px; /* Adds spacing between the image and the text */
  font-size: 15px; /* Adjust the size of the text */
  color: white; /* Changes the text color to white */
  text-align: center; /* Centers the text */
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.second-button-name {
  margin-top: 10px; /* Adds spacing between the image and the text */
  font-size: 13px; /* Adjust the size of the text */
  color: white; /* Changes the text color to white */
  text-align: center; /* Centers the text */
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  /* -webkit-text-stroke: 0.2px black; */
}

.image-size {
  height: 30px;
  width: 30px;
}
/* .appointments:hover, .payment-history:hover, .mass-schedule:hover, .volunteer-call:hover, .services-offered:hover, .church-info:hover, .priest-list:hover {
  background-color: #0068A2;
  width: 150px;
  height: 80px;
  transition:  0.5s ease;
  cursor: pointer;
} */


/* ---------------------------------------------------------------------------------------------------- */


.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 150px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
  }

  .massInfo{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }

  .events{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }
  
  .announcementsSEA{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }
  .appoinmentsPage {
    position: relative; /* Important to set position */
    z-index: 300; /* Higher value than the sidebar */
  }
  /*Appointments.jsx*/
.appointmentDate{
  text-align: center;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 100%;
}


.Appointments{
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  
}

.Appointments2{
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 505pt;
}



.appointmentInfo{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  gap: 10px;
  
}

.appointmentInfo2{
  display: grid;
  width: 50%;
}

.appointmentInfobtn{
  display: inline-grid;
  width: 30%;
  gap: 5px;
  margin-left: 80px;
}

.sms-content textarea {
  border-color: rgb(53, 53, 53);
}

.serviceFiltering{
  display: block;
  margin:12px;
}



.appointmentsView{
  display: inline-flex;
  justify-content: space-evenly;

}

.apppointmentCalendar{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.calendar2{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 98%;
  justify-content: space-evenly;
}

.appmoreInformation{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 80%;
  justify-content: space-evenly;
}

.slots2{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding:5px;
  margin: 5px;
}

.timedate{
  text-align: center;
}
.time{
  display: flex;
  justify-content: space-around;;
}

  /*Church Info*/
.churchUploads{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.churchDetails{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.titleFilter{
  display: flex;
}

/*services Offered*/
.Services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* Space between the two sections */
  margin-top: 20px;
}

.offer1, .offer2 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:550px;
  padding: 20px;
  border: 1px solid #ddd;
}

.header {
  background-color: #1976d2;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 6px 6px 0 0;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.Schedtogs .form-check {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.service1,
.form-check {
  display: flex;
  gap: 10px; /* Space between checkbox and label */
}

.instructions{
  display: flex;
}

.form-check input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
  accent-color: #1976d2; /* Blue color for the checkbox */
}

.form-check-label {
  flex: 1;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
  color: #333;
}

.fee-input {
  width: 100%;
  padding: 5px;
  margin: 1px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button.confirm {
  background-color: #4caf50;
  color: white;
}

button.clear {
  background-color: #f44336;
  color: white;
}

button:focus, .fee-input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}

/*timeslots*/
.rigtside{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

/* Adjust checkbox and input placement */
.service1 .fee-input,
.form-check .fee-input {
  margin-left: 30px; /* Ensures inputs align properly */
  width: 80%; /* Responsive width for the input fields */
}


/* request Volunteers*/
.ReqAnnoucement{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

/**/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-success{
  background-color: #36AE7C;
}


.user-img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border:1px solid white;
  display: fixed;
}

body .sidebar {
  position: fixed; 
  height: 100vh; 
  width: 150px;
  background: #1D8BDA;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 100;
  display: flexbox;
}

.user {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Stack the image and text */
}

.user-img {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.sidebar.active{
  width: 270px;
  
}

 #btn{
  position: absolute;
  top: .2rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor:pointer;
}


.sidebar.active #btn{
  left: 90%;
}



.sidebar.active .top .logo{
  opacity: 1;
}



.user {
  display: flex;
  align-items: center;
  margin: 1px 0 ;
}

.user p{
  color:white;
  opacity: 1;
  margin-left: 1rem;
}

.bold{
  font-weight: 600;
}

.sidebar p{
  opacity:0;
}

.sidebar.active p{
  opacity: 1;
  white-space: nowrap;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto; 
  line-height: 50px; 
}

.sidebar ul li a{
  color: white;
  display: flex;
  align-items: left;
  text-decoration: none;
  border-radius: 0.8rem;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  background:white;
  color: black;
}

.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.sidebar .nav-item{
  opacity: 0;
  display: flex;
}

.sidebar.active .nav-item{
  opacity: 1;
}



.sidebar ul li:hover .tooltip{
  opacity: 1;
}

.sidebar.active ul li .tooltip{
  display: none;
}

ul{
  padding-left:   0px;
}

.container {
  display: block;
  flex-direction: column;
  margin: 20px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.p-hover {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.collapsed .hover-button:hover .p-hover {
  visibility: visible;
  opacity: 1;
}

.sidebar.active .hover-button:hover .p-hover {
  visibility: hidden;
  opacity: 0;
}

  

.logout-button {

  margin-bottom: 1rem;
}

#amPmSelect.form-select {
  width: 100%;
}

.btn-group {
  display: inline-flex;
  gap: 5px; 
}

#buttons.col-md-6 {
  margin-top: 47px;
}

.sidebar-button.disabled {
  pointer-events: none; 
  opacity: 0.5; 
}


.sidebar.active .sidebar-button {
  pointer-events: auto; 
  opacity: 1;
}

.churchCoorAccStngs {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.churchCoorAccStngs-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.churchCoorAccStngs img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.churchCoorAccStngs button {
  width: 150px;
}

.time-picker-custom {
  width: 100% !important;
  height: 50px !important;
  font-size: 20px !important;
}

.time-picker-custom input {
  height: 100% !important;
  font-size: inherit !important;
}

.time-picker-custom .react-time-picker__wrapper {
  height: 100% !important;
}


/*serviceOffered*/

.ServicesList {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
}

.ServicesList h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.serviceListActive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin: 0;
  width: 100%;
}

.styled-list {
  list-style: none;
  padding: 0; 
  margin: 0; 
  width: 100%;
  display: block;
}

.styled-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  align-items: center;
  transition: background-color 0.3s;
}

.styled-list-item:hover {
  background-color: #f0f0f0;
}

.service-icon {
  margin-right: 10px;
  color: #223231;
  font-size: 1.2em;
}

/* Request Volunteers */
.createPost, .displayPost{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.custom-modal .modal-content {
  background-color: rgb(255, 176, 170);
  color: black; 
  width: 70%;
  margin: auto;

}

.uploaded-photos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.333% - 5px); 
  margin-bottom: 16px; 
  box-sizing: border-box;
}

.photo-item img {
  max-width: 150px;
  height: 150px; 
  object-fit: cover; 
}

.photo-item button {
  margin-top: 8px; 
  width: 80px;
}

.payment-th, .pending-th, .forPayment-th, .approved-th, .denied-th, .massIntention-th, .listPriest-th {
  font-size: 18px;
}

.payment-td, .pending-td, .forPayment-td, .approved-td, .denied-td, .massIntention-td, .listPriest-td {
  font-size: 16px;
}

.btn-custom-outline {
  color: black;
  border-color: #9bc3e4;
}