

/* ---------------------------------------------------------------------------------------------------- */
.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
  }

  .massInfo{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }

  .events{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }
  
  .announcementsSEA{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
  }

  /*Appointments.jsx*/
.appointmentDate{
  text-align: center;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 100%;
}

.appointmentsView{
  display: inline-flex;
  width: 100%;
  
}

.confirmedAppointments{
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 50%;
}

.pendingAppointments{
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 50%;
  
}

.appointmentInfo{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  gap: 10px;
  
}

.appointmentInfo2{
  display: grid;
  width: 50%;
}

.appointmentInfobtn{
  display: inline-grid;
  width: 30%;
  gap: 5px;
  margin-left: 80px;
}

.sms-content textarea {
  border-color: rgb(53, 53, 53);
}


  /*Church Info*/
.churchUploads{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.churchDetails{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

/*services Offered*/
.Services{
  display: inline-flex;

  padding:10px;
  margin: 10px;
  width: 100%;
}

.offer1{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 50%;
}

.offer2{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 50%;
}

/* request Volunteers*/
.ReqAnnoucement{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

/**/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border:1px solid white;
  display: fixed;
}

.sidebar{
  position: absolute;
  top:0;
  left: 0;
  height: 155vh;
  width: 80px;
  background: #2b578c;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar.active{
  width: 270px;
}

.sidebar #btn{
  position: absolute;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor:pointer;
}


.sidebar.active #btn{
  left: 90%;
}

.sidebar .top .logo{
  color:white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo{
  opacity: 1;
}

.top i {
  font-size: 2px;
  margin-right: 1px;
}

.user{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p{
  color:white;
  opacity: 1;
  margin-left: 1rem;
}

.bold{
  font-weight: 600;
}

.sidebar p{
  opacity:0;
}

.sidebar.active p{
  opacity: 1;
  white-space: nowrap;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto; 
  line-height: 50px; 
}

.sidebar ul li a{
  color: white;
  display: flex;
  align-items: left;
  text-decoration: none;
  border-radius: 0.8rem;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  background:white;
  color: black;
}

.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.sidebar .nav-item{
  opacity: 0;
  display: flex;
}

.sidebar.active .nav-item{
  opacity: 1;
}



.sidebar ul li:hover .tooltip{
  opacity: 1;
}

.sidebar.active ul li .tooltip{
  display: none;
}

ul{
  padding-left:   0px;
}

.container {
  display: block;
  flex-direction: column;
  margin: 20px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.logout-button {

  margin-bottom: 1rem;
}

#amPmSelect.form-select {
  width: 100%;
}

.btn-group {
  display: inline-flex;
  gap: 5px; 
}

#buttons.col-md-6 {
  margin-top: 47px;
}

.sidebar-button.disabled {
  pointer-events: none; 
  opacity: 0.5; 
}


.sidebar.active .sidebar-button {
  pointer-events: auto; 
  opacity: 1;
}

.churchCoorAccStngs {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.churchCoorAccStngs-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.churchCoorAccStngs img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.churchCoorAccStngs button {
  width: 150px;
}

.time-picker-custom {
  width: 100% !important;
  height: 50px !important; /* Adjust height as needed */
  font-size: 20px !important; /* Adjust font size as needed */
}

.time-picker-custom input {
  height: 100% !important; /* Ensure the input takes the full height */
  font-size: inherit !important; /* Inherit the font size */
}

.time-picker-custom .react-time-picker__wrapper {
  height: 100% !important; /* Ensure the wrapper takes the full height */
}

/*serviceOffered*/

.ServicesList {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
}

.ServicesList h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.serviceListActive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin: 0;
  width: 100%;
}

.styled-list {
  list-style: none;
  padding: 0; 
  margin: 0; 
  width: 100%;
  display: block;
}

.styled-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  align-items: center;
  transition: background-color 0.3s;
}

.styled-list-item:hover {
  background-color: #f0f0f0;
}

.service-icon {
  margin-right: 10px;
  color: #223231;
  font-size: 1.2em;
}

