.sys-main-content{
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
/* sidebar */
.sidebar{
  position: absolute;
  top:0;
  left: 0;
  height: 155vh;
  width: 80px;
  background: #2b578c;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar.active{
  width: 270px;
}

.sidebar #btn{
  position: absolute;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor:pointer;
}


.sidebar.active #btn{
  left: 90%;
}

.sidebar .top .logo{
  color:white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo{
  opacity: 1;
}

.sidebar p{
  opacity: 0;
}

.sidebar.active p{
  opacity: 1;
  white-space: nowrap;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto; 
  line-height: 50px; 
}

.sidebar ul li a{
  color: white;
  display: flex;
  align-items: left;
  text-decoration: none;
  border-radius: 0.8rem;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  background:white;
  color: black;
}

.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.sidebar .nav-item{
  opacity: 0;
  display: flex;
}

.sidebar.active .nav-item{
  opacity: 1;
}

.sidebar ul li:hover .tooltip{
  opacity: 1;
}

.sidebar.active ul li .tooltip{
  display: none;
}

.p-hover {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.collapsed .hover-button:hover .p-hover {
  visibility: visible;
  opacity: 1;
}

.sidebar.active .hover-button:hover .p-hover {
  visibility: hidden;
  opacity: 0;
}



.slots {
  border-radius: 0.7rem;
  margin-top: 2%;
  margin: 10px;
  height: 15rem;
  border: 1px solid black; 
  padding: 30px;
  font-size: 18px;
}


/* account settings */

  .sysAdminAccsettings {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sysAdminUserAccStngs-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sysAdminAccsettings img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .sysAdminAccsettings button {
    width: 150px;
  }

  .dashboard-container {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  
  .church-total, .users-total {
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    border: 2px solid black; 
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
  }

  .churchCount, .usersCount {
    text-align: center;
    margin-top: 1rem;
    font-weight: 900;
    font-size: 100px;
  }
  