.btn-custom-outline {
    color: black;
    border-color: #9bc3e4;
  }
  
  .btn-custom-outline:hover {
    background-color: #9bc3e4;
    color: black;
  }
  
  .btn-custom-primary {
    background-color: #9bc3e4;
    color: black;
    border-color: #9bc3e4;
  }
  
  .btn-custom-primary:hover {
    background-color: darken(#9bc3e4, 60%);
    color: black;
  }

  .featureBanner{
    background-color: #b7d1e5;
    padding: 20px;
  }

  .signup-container {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  
  .loginContainer{
      background-image: url('../src/assets/backgroundimg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:black;
  }


  .homepage-container {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
  }

  .viewApp{
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .userAccStngs {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .userAccStngs-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .userAccStngs img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .userAccStngs button {
    width: 150px;
  }
  
  .coord-signup-container {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
  }

  .nav-item:hover .nav-link {
    font-weight: 700;
  }
  
  .qr-image {
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
  }
    

  /* ============================================================================================================================ */
  /* church homepage contents */
  .churchHomepageContainer {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
  }


  .pageNavigation {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
  }
  
  .pageNavigation button {
    flex: 0 0 auto;
    margin-right: 5px;
  }
  
  .pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pageBody > .row {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .churchTitle {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }

.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  margin: 0;
  height: 100%;
  width: 50%; 
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-header, 
.modal.right .modal-body, 
.modal.right .modal-footer {
  padding: 20px;
}

.homeCarousel .carousel-item {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.partneredChurch {
  max-width: 800px; 
  margin: 0 auto; 
}

.partneredChurch .carousel-item .card {
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%; 
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* --------------------------------------------------
/* church options dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: #7a9bbf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #5a7a9f;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

/* The container <div> - needed to position the dropdown content */
/* Adjusted dropdown styles */
.dropdownAddress {
  position: relative;
  display: inline-block;
  width: 100%; /* Set the width to match the input below */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%; /* Ensure the dropdown content matches the input width */
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
  display: block;
} 

.custom-offcanvas {
  background-color: #F2F2F2; 
  width: 25rem !important;
  height: 658px;
  margin-right: 2rem;
  margin-top: 1rem;
  justify-content: center;
  border-radius: 1.5rem;
  transform: translateY(-50%);
  position: fixed; 
  display: flex;
  padding: 0;
}

/* yeeesss */
.offcanvas,
.offcanvas-body {
  overflow: visible !important;
}

.pac-container {
  z-index: 1060 !important;
}

/* SCROLLBAR */
.scrollable-section {
  max-height: 450px;
  overflow-y: auto;
}

.scrollable-section::-webkit-scrollbar {
  width: 8px;
}

.scrollable-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollable-section::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.drawer-img-container {
  width: 100%;
  padding: 0;
  margin: 0; /* Remove margin if present */
  display: flex; /* Ensure the image container uses flex */
  justify-content: center; /* Center content if needed */
}

.drawer-img-container img {
  width: 100%; /* Image takes full width of the container */
  height: auto; /* Keep aspect ratio */
  object-fit: cover; /* Ensure image covers the container area */
  border-top-left-radius: 1.2rem; /* Match border-radius of drawer */
  border-top-right-radius: 1.2rem;
}

.drawer-title {
  text-align: center; /* This will center the text */
  font-weight: bold;
  margin-top: -10px; /* Optional: Make the title bold */
}

.drawer-content {
  display: flex;        /* Enables Flexbox */
  flex-direction: column; /* Arrange items vertically */
  padding: 15px;
  gap: 2rem;    
  margin-top: 1rem;       /* Adds gap between flex items */
}

.drawer-body-content {
  flex-grow: 1; /* Ensure this content grows to fill available space */
}

.drawer-icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.drawer-icon-text i {
  margin-right: 10px;
}

.view-church-btn {
  width: 100%; /* Make the button full width */
  background-color: #1D8BDA; /* Customize button color */
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: none;
  margin-top: auto; /* Pushes button to the bottom */
  margin-bottom: 1rem; /* Adds space below the button */
}

.map-search-container {
  background-color: transparent;
}

.map-search-container .logo-container {
  display: flex;
  align-items: center;
  margin: 20px;
  gap: 0.5rem;
  background-color: transparent;
}

.map-search-container .logo-container img {
  width: 50px;
  height: 50px;
}

.map-search-container .logo-container h3 {
  margin-left: -0.3rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

.map-search-container .logo-container i {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: -0.2rem;
  cursor: pointer;
}

.map-search-input {
  width: 60%;
  padding: 10px;
  margin: 20px;
  background-color: transparent;
}

.logo-container-center {
  justify-content: center;
  display: flex;
  margin: 20px;
  gap: 5px;
}

.back-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.back-button i {
  margin-right: 1rem;
}

.center-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.input-group {
  display: flex;
  align-items: center;
  
}

.form-outline {
  justify-content: center;
  width: 300px; 
}

.form-control {
  width: 100%;
}



.input-group .form-control {
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
  padding: 10px;
  border:  solid #ffffff; /* Optional: Adjust border styling */
  height: 50px; /* Ensure the input and button are the same height */

}

.input-group .btn-primary {
  border-radius: 0 20px 20px 0;
  box-shadow:  2px 6px 6px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
  padding: 10px 15px;
  height: 50px; /* Match the height of the input */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold; /* Makes the button text bigger and bolder */
  background-color: white;
  color: rgb(67, 158, 255);
  border:  solid #ffffff; 
}

.filtered-church-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #C4DCFF;
}

.form-select {
  border: none;
  font-weight: bold;
  width: 170px; 
  padding: 10px;
}

.form-select:hover {
  border: none;
}

/* renewal form */
.renew-container{
  background-image: url('../src/assets/backgroundimg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  padding-bottom: 20px;
}

.renewalBanner img {
  max-width: 70%; /* Reduce the width to 50% of its container */
  height: auto;   /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image */
}

.visita-iglesia {
  padding: 5px; 
  margin-left: 3rem;
  width: 7.8rem;
  height: 3rem;
  box-sizing: border-box; /* Make sure width and height do not include padding */
}


.visita-iglesia:hover {
  background-color: #1D8BDA;
  color: white;
}


