.btn-custom-outline {
    color: black;
    border-color: #9bc3e4;
  }
  
  .btn-custom-outline:hover {
    background-color: #9bc3e4;
    color: black;
  }
  
  .btn-custom-primary {
    background-color: #9bc3e4;
    color: black;
    border-color: #9bc3e4;
  }
  
  .btn-custom-primary:hover {
    background-color: darken(#9bc3e4, 60%);
    color: black;
  }

  .featureBanner{
    background-color: #b7d1e5;
    padding: 20px;
  }

  .signup-container {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  
  .loginContainer{
      background-image: url('../src/assets/backgroundimg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:black;
  }


  .homepage-container, .viewApp {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
  }

  .userAccStngs {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .userAccStngs-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .userAccStngs img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .userAccStngs button {
    width: 150px;
  }
  
  .coord-signup-container {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
  }

  .nav-item:hover .nav-link {
    font-weight: 700;
    /* background-color: rgb(217, 216, 216); */
  }
  
  .qr-image {
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
  }
  
  .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* ============================================================================================================================ */
  /* church homepage contents */
  .churchHomepageContainer {
    background-image: url('../src/assets/backgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
  }


  .pageNavigation {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
  }
  
  .pageNavigation button {
    flex: 0 0 auto;
    margin-right: 5px;
  }
  
  .pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pageBody > .row {
    width: 100%;
    max-width: 800px; /* or any desired max-width */
    margin: 0 auto;
  }
  
  